body{
    background-color: #bdc3c7;
}

body h1{
    color:#9b59b6;
}

h2{
    color:orange;
}

li{
    color:blue;
}

.hello{
    background-color: white;
}

body p{
    background-color: yellow;
}

input{
    border:3px solid red;
}

#special{
    border:2px solid blue;
}

div p{
    font-size: 25px;
}

input[type="text"]{
    background-color: grey;
}

div:nth-last-of-type(3n) p{
    background-color: yellow;
}

div:nth-last-of-type(4n+2) p:nth-last-of-type(2n+1){
    border:5px solid white;
}

div:nth-last-of-type(4n+2) em {
    color:white;
    font-size: 20px;
}