* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555;
  font-size: 16px;
}

.header {
  background-image: linear-gradient(45deg, red, orange);
  height: 9vh;
}

.header h1 {
  color: white;
  text-align: center;
  margin: auto;
  width: 100%;
  line-height: 9vh;
}

.footer {
  flex: 0 0 auto;
  justify-content: center;
  align-content: center;
  background-color: #e5e5e5;
  padding: 0.5em;
  width: 100%;
  margin: auto;
  display: flex;
  height: 5vh;
}

.main {
  display: flex;
  height: 86vh;
}

.navigation {
  padding: 0.5em;
  width: 20%;
}

.section {
  padding: 0.5em;
  width: 60%;

  font-size: 1.25em;
}

.units-list {
  line-height: 1.75em;
}

.news {
  padding: 0.5em;
  width: 20%;
}

.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}

.section__header {
  font-size: 5vw;
  text-align: center;
}

.nav-list-item {
  background-color: #808080;
  line-height: 2em;
  margin-bottom: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  list-style: none;
}

.nav-list-link {
  border: none;
  width: 100%;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.nav-list {
  padding: 0;
}
